.App {
  width: 350px;
  height:350px;
  overflow: scroll;
  text-align: center;
  h1 {
	  font-weight: bold;
  }
  ul {
	li {
		height:40px;
		background-color: white;
		transition: background-color .2s ease;
		padding-top: 10px;
		list-style-type: none;
		padding-left: 10px;
		margin-right: 10px;
		text-align: left;
		&:hover {
			cursor: pointer;
			background-color: lightgray;
		}
	}
  }
  .weather-situation {
	  border:1px solid black;
	  padding: 10px;
	  display: grid;
	  grid-template-columns: repeat(4, 1fr);
	  align-items: center;
  }
}